<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="author" content="Poonia">
    <meta name="description" content="Praveen Poonia">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../style/tachyons.min.css">
    <title>{{ title }}</title>
</head>

<body class="w-100 sans-serif bg-white">
    {% include 'header.njk' %}
    <main class="mw8 center mv5">
        {{ content | safe }}
    </main>
    {% include 'footer.njk' %}
   
</body>

</html>