---
import { CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;

const { Content, remarkPluginFrontmatter } = await post.render();

post.data.timeToRead = Math.round(remarkPluginFrontmatter?.estReadingTime).toString() || "5";

---

<BlogPost {...post.data} >
	<div class="container-post-w">
		<Content />
	</div>
</BlogPost>
