---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import BlogListItem from '../../components/BlogListItem.astro';
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection('blog')).sort(
	(a, b) => {
		return a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
	}
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li :global(time) {
				flex: 0 0 130px;
				font-style: italic;
				color: #595959;
			}
			ul li a:visited {
				color: #8e32dc;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<div class="top-banner grad-bg">
				<div class="mx-auto w-full container-w text-left">
					<h1 class="banner-title grad-heading">Blogs</h1>
				</div>
			</div>
			<section class="listing w-full container-w mx-auto">
					{
						posts.map((post) => (
							<BlogListItem post={post} />
						))
					}
			</section>
		</main>
		<Footer />
	</body>
</html>
<style>

	.top-banner {
		padding: 6rem 2rem 4rem;
		width: 100%;
		color: #001F3F;
		margin-bottom: 2rem;

		.banner-title {
			font-size: 3.7rem;
			font-weight: 800;
			line-height: 5rem;
			padding-bottom: 1rem;
			color: transparent;
			-webkit-background-clip: text;

			@media screen(md) {
			}
		}


	}
	/*.listing {*/
	/*	padding: 2rem;*/
	/*}*/
</style>