---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import BlogListItem from '../../components/Blog/BlogListItem.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => {
		return a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
	}
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="is-full-width">
			<div class="is-horizontal-align banner merge-header-banner">
				<div class="is-full-width container-sm-w text-left flex f-col m-b-2 ">
					<h2 class="font-primary banner-title">
						Blogs
					</h2>
				</div>
			</div>
			<section class="listing is-full-width is-horizontal-align flex">
				<div class="is-full-width container-sm-w flex f-col m-b-3 m-t-2">
				{
					posts.map((post) => (
						<BlogListItem post={post} />
					))
				}
				</div>
			</section>

		</main>
		<Footer />
	</body>
</html>
<style>
</style>