---
layout: blog
---

{% set postslist = collections.post %}

{% for post in postslist | reverse %}
    <article class="blog-item">
            <h3 class="blog-item-title">
                <a href="{{ post.url | url }}" class="gradient-text">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h3>
            <p class="text-base">
                <time> {{ post.date | readableDate }} </time>
            </p>
                {% if post.data.description %}
                <p class="blog-item-desc">
                {{ post.data.description }}
                </p>
            {% endif %}
            <a href="{{ post.url | url }}" class="blog-item-link gradient-text">
                Read more →
            </a>
        </article>
{% endfor %}