---
import Layout from '../layouts/StaticPage.astro';
---

<Layout
	title="About Me"
	description="Hand-crafted in India from locally sourced bits & byte"
>
	<p>
		<a href="Kith.dev" title="Kith.dev Home">Kith.dev</a> is the professional blog of 
		Praveen Poonia, a frontend developer who cares about quality code and deliverying 
		meaningful solutions. 
	</p>
	<p>
		On "Kith.dev", I shares insights on frontend technology and companies 
		based on my years of experience working at technology companies. My articles offer a 
		glimpse into the ever-evolving tech world, making them a valuable resource for staying 
		informed about frontend developments with simple words and infographics. 
	</p>
	<h4>Patterns & Principles</h4>
	Across my journey, with failure and success, I learnt few principles 
	which I adhere to everyday development, few of them are -
	<ul>
		<li>Write code to be read by other people. Prefer to be explicit over implicit.</li>
		<li>Make the code run first. Then make it fast (if necessary).</li>
		<li>Read documentation.</li>
		<li>The less mess you make, the less mess there is to clean up.</li>
	</ul>

</Layout>
