---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🧑‍🚀 Hello!</h1>
			<p>
				In this blog I share my learning & experience related to frontend web development.
			</p>
			<p>
				This blog features a diverse range of articles on front-end development, including project case studies, best practices, thought processes, and front-end strategies.
				It covers a broad spectrum of topics, from HTML, CSS, and SVG to accessibility and other related areas.
			</p>
		</main>
		<Footer />
	</body>
</html>
