---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import BlogListItem from "../components/Blog/BlogListItem.astro";

const posts = (await getCollection('blog')).sort(
	(a, b) => {
		return a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
	}
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="w-full">
			<div class="banner text-center grad-bg">
				<div class="w-full container-w mx-auto flex flex-col">
					<h3 class="banner-title grad-heading">
						Insight logs
					</h3>
					<p class="banner-desc">
						Tuplelog contains a collection of writings, insights, notes and learning experiences for frontend development
					</p>
				</div>
			</div>
			<section class="listing mx-auto w-full container-w">
				<h3 class="my-10 text-4xl font-bold ">Recent posts</h3>
				{
					posts.map((post) => (
						<BlogListItem post={post} />
					))
				}
			</section>

		</main>
		<Footer />
	</body>
</html>
<style>
	.banner {
		padding: 8rem 2rem;
		width: 100%;
		color: #001F3F;
		margin-bottom: 8rem;

		.banner-title {
			font-size: 3.7rem;
			font-weight: 800;
			line-height: 5rem;
			padding-bottom: 3rem;

			@media screen(md) {

			}
		}

		.banner-desc {
			font-size: 2.2rem;
			font-weight: 300;
			letter-spacing: 0.3px;

			@media screen(md) {

			}
		}
	}
</style>