---
const today = new Date();
---

<footer class="is-horizontal-align">
	<div class="container-sm-w is-full-width flex">
		&copy; {today.getFullYear()} kith.dev, All rights reserved.
	</div>
	
</footer>
<style>
	footer {
		padding: 2rem 2rem;
		text-align: left;
		border-top: 1px solid #eee;
		font-family: var(--font-family-serif-secondry);
	}
</style>
