---
import FormattedDate from '../FormattedDate.astro';
export interface Props {
	post: object;
}
const { post } = Astro.props;
---

<article class="article-list-item">
	<a href={`/blog/${post.slug}/`} class="article-list-item-link">
		<time class="text-green date-time" datetime={post.data.pubDate}>
			<FormattedDate date={post.data.pubDate} />
		</time>
		<h3 class="font-primary title">
			{ post.data.title }
		</h3>
		<p class="desc font-secondry">
			{ post.data.description }
		</p>
	</a>
</article>

<style>
	.article-list-item {
		padding: 2rem 0 0;
		
		.article-list-item-link {
			color: var(--color-primary);
			margin-bottom: 1rem;
			border-bottom: 1px solid #eeeff1;
			display:block;

			&:hover {
				text-decoration: none;
			}
		}

		&:hover {
		 	/*background:#f7f9fb;*/

			h3 {
				/* background-color: var(--bg-tag-color);
    			color: var(--text-tag-color); */
			}
			.title {
    			background-image: linear-gradient(transparent 60%, var(--bg-tag-color) 0%);

			}
		 }

		.date-time {
			color: #6e6e6e;
			padding-bottom: 0.5rem;
			font-size: 1.4rem;
			font-weight: 200;
			display: block;
		}

		.title {
			font-size: 2.2rem;
			font-weight: 500;
			letter-spacing: 0.3px;
			margin-bottom: 1.2rem;
			line-height: 1;
			display: inline;
    		-webkit-box-decoration-break: clone;
    		background-image: linear-gradient(transparent 60%, #f3ffb0 0%);
			transition: background-image;
			transition-timing-function: ease-in-out;
			transition-duration: 2000ms;
		}
		.desc {
			font-size: 2rem;
			margin-bottom: 2rem;
		}
	}
</style>
