
<div class="post-content is-horizontal-align font-main" itemprop="articleBody">
	<div class="container-sm-w is-full-width">
		<slot />
	</div>
</div>

<style>
  .post-content {
		position: relative;
		font-size: 1.8rem;
		font-weight: 300;
		letter-spacing: 0.3px;
		line-height: 1.75;
		padding-top: 3rem;
		padding-bottom: 4rem;
	}
</style>