--- 
title : Hello!! 
layout: 'base.njk' 
---


<div data-name="component">
    <article>
        <header class="bg-washed-green sans-serif">
            <div class="mw9 center pa4 pt5-ns ph7-l">
                <div class="f6 mb2 dib ttu tracked"><small>Hello 👋!</small></div>
                <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
                    <span class=" lh-copy black pa1 tracked-tight">
                        I'm Praveen Poonia
                    </span>
                </h3>
                <h4 class="f3 fw1 georgia i">I'm a Frontend Developer and a minimalist aspirant.</h4>
                {# <h5 class="f6 ttu tracked black-80">By Adam Morse</h5> #}
            </div>
        </header>
    </article>
    <section class="mw8 center">
        <h2 class="athelas ph3 ph0-l">Writing</h2>
        
        {%- for post in collections.post -%}
            <article class="pv4 bt b--black-10 ph3 ph0-l">
                <a href="{{ post.url }}" class="flex flex-column flex-row-ns black no-underline">
                    <div class="w-100 pr3-ns order-2 order-1-ns">
                        <time class="f6 db gray">{{ post.data.created | postDate }}</time>
                        <h1 class="f3 athelas mt2 lh-title">{{ post.data.title }}</h1>
                        <p class="f5 f4-l lh-copy athelas">
                            {{ post.data.description }}
                        </p>
                    </div>
                    {# <div class="pl3-ns order-1 order-2-ns mb4 mb0-ns w-100 w-40-ns">
                        <img src="https://picsum.photos/290/200?x={{ post.data.title }}" class="db" alt="Photo of a dimly lit room with a computer interface terminal.">
                    </div> #}
                </a>
                {# <p class="f6 lh-copy gray mv0">By <span class="ttu">{{ post.data.author }}</span></p> #}
               
            </article>
        {%- endfor -%}

    </section>

</div>


